<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary">Push client</md-toolbar>
<div style="margin-top:90px; text-align: center; display: flex; flex-direction: column; align-items: center; align-content: center; justify-content: center">
  You are currently not registered for receiving push messages. Press button to register and allow push messages from the dialog that appears.
<button md-button style="margin-top: 20px;background-color: #673ab7; color: rgba(255, 255, 255, 0.87) ">REGISTER</button>
</div>
